body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100vh;
}
.sidebar {
  flex-grow: 1;
  min-width: 15%;
  background: var(--column-bg, #4d394b);
  color: var(--text-color, white);
}
.sidebar_item {
  font-size: 1rem;
  color: white;
  text-align: left;
  margin-left: 10%;
}
.sidebar_item:hover {
  background-color: lightpink;
  cursor: pointer;
}
.feed {
  flex-grow: 4;
  overflow-y: scroll;
  max-width: 90%;
}
.feed_header {
  position: fixed;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding: padding;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: white;
}
.feed_header_h1 {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 900;
}
.feed_post {
  margin: 5px;
}
.feed_post:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.feed_post_image {
  float: left;
  border-radius: 20%;
  padding: 1%;
}
.thread {
  flex-grow: 2;
  min-width: 40%;
  overflow-y: scroll;
}
.thread_exit {
  position: absolute;
  top: 0;
  right: 0;
}
.thread_exit:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.message {
  display: flex;
  padding: 10px 20px;
  cursor: default;
  margin: 1%;
}
.message:hover {
  background-color: lightgrey;
}
.message_time {
  font-size: 1rem;
}
.message_author {
  font-size: 1rem;
  font-weight: bold;
}
